/*    Css for snia    */

/* Global variables */
:root {
    --app-bg-color: #150570;
    --body-color: #edeff5
}


.bg-app-2 {
    background-color: #12016d !important;
}

.bg-banner {
    background-color: #4126da !important;
}


/* End Global variables */
.btn-snia {
    background-color: var(--app-bg-color) !important;
    color: white;
    width: 100% !important;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}

.btn-snia:hover {
    background-color: #311ca5;
    color: #fff;
}

.btn-snia:active,
.btn-snia:focus {
    background-color: #311ca5;
    color: #fff
}

.bg-side-login {
    background-color: #311ca5 !important;
}


.img-login-snia {
    width: 50%;
}

.text-color-snia {
    color: var(--app-bg-color);
}

.color-test {
    color: #343435
}

#nprogress .bar {
    background: rgb(221, 34, 34) !important;
}